<!-- work under progress to have base.html and extend it into admin page and log in page -->

{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',
filename='css/bootstrap.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static',
filename='/css/bootstrap.css.map')}}">

<link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/jqcloud.css')}}">
<title> Audio Tagger </title>
{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top custom-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle
          collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle
            navigation</span>
          <span
            class="icon-bar"></span>
          <span
            class="icon-bar"></span>
          <span
            class="icon-bar"></span>
        </button>
        <a
          class="navbar-brand custom-brand"
          href="#">Audio Tagger</a>
      </div>
      <!--div
        id="navbar"
        class="navbar-collapse
        collapse">
      <div class="pull-right user-state">
        <button type="button" class="btn">
          <span class="glyphicon glyphicon-envelope"></span>
        </button>
        <button type="button" class="btn">
          <span class="glyphicon glyphicon-globe"></span>
        </button>
        <button type="button" class="btn">
          <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
      </div>
        <form
          class="navbar-form
          navbar-right">
          <div
            class="form-group">
            <input
            type="text"
            placeholder="Email"
            class="form-control">
          </div>
          <div
            class="form-group">
            <input
            type="password"
            placeholder="Password"
            class="form-control">
          </div>
          <button
            type="submit"
            class="btn
            btn-success">
            Log In</button>
        </form>
        </div--><!--/.navbar-collapse
        -->
      </div>
      </nav>
      </header>


  <aside >
  <div class="container col-md-3 col-lg-3"
   id="tag-clouds">
    <div class="row" id="tag-cloud">
    </div>
  </div>
  </aside>

      <section class="container col-md-6 col-lg-6" id="audio-list">
      <div class="row">
        <div id="dashboard">
          <div id="dashboard-body">

          </div>
        </div>
  </div>

  </section>
  <section class="container col-md-3 col-lg-3" id="play-wrap">
  <!--h4> Play Area </h4-->
  <div class="row">
    <div id="audio-play-area">
      <div class="form-group">
        <input type="text" class="form-control" id="add-name" placeholder="Add Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="add-tag" placeholder="Add Tags">
      </div>
      <button type="button" class="btn" id="cancel-form"> Cancel </button>
      <button type="button" class="btn" id="submit-form"> Submit </button>
    </div>
  </div>
  </section>



  <footer>
  <!--span> Copyright </span-->
    </footer>

    {% block scripts %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    
    <script src="{{url_for('static', filename='js/underscore-min.js')}}"></script>
    <script src="{{url_for('static', filename='js/backbone-min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script src="static/js/MOCK_DATA.json"> </script>
    <script src="static/js/jqcloud.js"> </script>
    <script src="static/js/theme.js"> </script>
{% endblock %}


{% endblock %}




{% block templates %}
    <!-- Templates -->
    <script type="text/template" id="tag-cloud-template">
      <li><%= tags %> </li>
    </script>
    <script type="text/template" id="audio-item-template">
      <div class="audio-feed">
      <div class="row">
        <div class="post-card">

          <div class="col-lg-2 col-md-2">
            <div class="profile-image">
              <img src="img/person-placeholder.jpg" alt="profile-pic"
              class="img-responsive custom-profile-pic">
            </div>
          </div>

          <div class="col-md-6 col-lg-6 ">
            <div class="audio-file-default">
              <div class="feed-data">
                <strong> Uploaded by @<%=username%></strong>
              </div>
              <!-- Simple audio playback -->
              <audio controls="controls">
              Your browser does not support the <code>audio</code> element.
              <source src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg"
              type="audio/wav">
              </audio>
            </div>
            <div class="recent-feed-data">
              <div class="feed-data">
                <strong>@<%= username %> suggested tags - <%=tags %></strong>
              </div>
              <div class="feed-data">
                <strong> Name - <%= filename %></strong>
              </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="feed-data">
            <strong> Uploaded on <%=time%> </strong>
          </div>
          <div class="feed-data suggested-tags">
            <strong>Tags: <%= tags %></strong>  
          </div>
        </div> <!-- end suggested tags container -->
      </div> <!-- end post card with audio feed data -->
    </div>

    <!-- social network action, like, share, options -->
      <div class="row">
        <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
        <div class="tool-bar">
        <button type="button"  class="btn btn-default play-button" data-placement="top"
          title="Tag" data-toggle="tooltip"
          >
          <span class="glyphicon glyphicon-tags"></span>
        </button>
        <button type="button" class="btn btn-default fav-button"
          data-toggle="tooltip" data-placement="top"
          title="Like" >
          <span class="glyphicon glyphicon-chevron-up">
          </span>
        </button>
        <button type="button" class="btn btn-default fav-button"
          data-toggle="tooltip" data-placement="top"
          title="Dislike" >
          <span class="glyphicon glyphicon-chevron-down">
          </span>
        </button>
        <button type="button" class="btn btn-default
          share-button"data-toggle="tooltip" data-placement="top"
          title="Forward" >
          <span class="glyphicon glyphicon-retweet">
          </span>
        </button>
        <!--button type="button" class="btn btn-default
          options-button"data-toggle="tooltip" data-placement="top"
          title="Options" >
          <span class="glyphicon glyphicon-option-vertical">
          </span>
        </button-->
      </div>
    </div> <!--end tool-bar -->
    <div class="col-md-3 col-lg-3">
      <div class="feed-stats feed-data">
        <div class="like-data">
          <span class="glyphicon glyphicon-chevron-up"></span>
          <span>36</span>
        </div>
        <div class="dislike-data">
          <span class="glyphicon glyphicon-chevron-down"></span>
          <span>3</span>
        </div>
        <div class="forward-data">
          <span class="glyphicon glyphicon-retweet"></span>
          <span>25</span>
        </div>
      </div>
    </div>
  </div>

  </div> <!-- end audio-feed -->
</script>
{% endblock %}






