<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <!--link rel="stylesheet" href="css/bootstrap.min.css"-->
    <!-- Latest compiled and minified CSS -->
    <!--link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap.css.map">

    <link rel="stylesheet" href="static/css/theme.css">
    <link rel="stylesheet" href="static/css/jqcloud.css">
    <link rel="stylesheet" href="static/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="static/css/BootSideMenu.css">
  </head>
  <body id="audio-tag-app">
    <header>
    <nav class="navbar navbar-inverse navbar-fixed-top custom-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle
          collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle
            navigation</span>
          <span
            class="icon-bar"></span>
          <span
            class="icon-bar"></span>
          <span
            class="icon-bar"></span>
        </button>
        <a id="homeAnchor"
          class="navbar-brand custom-brand"
          href="javascript:void(0)">Audio Tagger</a>
      </div>
      <div
        id="navbar"
        class="navbar-collapse
        collapse">
        <!--ul class="nav nav-tabs pull-left main-nav">
            <li role="presentation" class="active"><a href="#audio-list">Home</a></li>
              <li role="presentation"><a href="#tag-clouds">Admin</a></li>
                <li role="presentation"><a href="#upload-audio">Upload</a></li>
                </ul-->
        <div class="pull-right user-state">
          <button type="button" class="btn">
            <span class="glyphicon glyphicon-envelope"></span>
          </button>
          <button type="button" class="btn">
            <span class="glyphicon glyphicon-globe"></span>
          </button>
          <button type="button" class="btn">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </button>
          <!--a href="/login" ><button
              type="submit"
              class="btn
              btn-success" >
              Log In{{ user }}</button>
          </a-->
        </div>
        <!--form
        class="navbar-form
        navbar-right">
        <div
          class="form-group">
          <input
          type="text"
          placeholder="Email"
          class="form-control">
        </div>
        <div
          class="form-group">
          <input
          type="password"
          placeholder="Password"
          class="form-control">
        </div>
        </form-->
      </div><!--/.navbar-collapse
      -->
    </div>
    </nav>
    </header>

    <section class="container col-md-3 col-lg-3 col-sm-3" id="tag-clouds">
    <div class="row"  >
      <div class="" id="tag-cloud">
      </div>
    </div>
    <div class="row">
      <div id="search-results-container">
      </div>
    </div>
    </section>

    <section class="container col-md-4 col-lg-4 col-sm-4" id="audio-list">
    <!--div id="side-menu-wrap" data-side="right">
      <div class="row"  id="container admin-panel">
        <div class="form-wrapper panel ">
          < {% if error %}
          <div class="alert alert-danger"><b>error:</b> {{ error }}
          </div>
          {% endif %}>
          <div class="panel-heading"><a role="button" data-toggle="collapse"
              href="#auth-form" aria-expanded="false"
              aria-controls="auth-form"> To Authenticate: enter the phone number of the user,
              to grant
              permissions to set tags</a></div>
          <div class="panel-body collapse" id="auth-form">
            <form class="form-horizontal admin-forms"
              action=""
              method="">
              <div class="form-group">
                <label class="form-label"
                  for="phone-number">phone
                  number</label>
                <div class="controls">
                  <input type="tel" class="form-control" id="phone-number"
                  name="usertel" pattern='\d{10}' placeholder="Phone Number">
                </div>
          </div>
          <div
            class="form-group">
            <div
              class="controls">
              <button
                type="submit"
                class="btn
                btn-primary
                ">Submit</button>
            </div>
          </div>
          <div
            class="clearfix"></div>
        </form>
      </div>
      </div>
    </div>


    <div class="row" id="container upload-audio">
      <div class="form-wrapper panel">
       < {% if error %}
        <div class="alert alert-danger"><b>error:</b> {{ error }}
        </div>
        {% endif %}>
        <div class="panel-heading"><a role="button" data-toggle="collapse"
            href="#upload-form" aria-expanded="false"
            aria-controls="upload-form">To Upload - enter the URL for the Audio
            file</a></div>
      <div class="panel-body collapse" id="upload-form">
        <form class="form-horizontal admin-forms"
          action=""
          method="">
          <div class="form-group">
            <label class="form-label"
              for="url">URL for audio</label>
            <div
              class="controls">
              <input
              type="url"
              class="form-control"
              id="upload-input"
              name="url"
              placeholder="Enter the url for the audio file">
            </div>
          </div>
          <div
            class="form-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div
            class="clearfix"></div>
        </form>
      </div>
      </div>
    </div>
  </div-->
    <div class="row">
      <div class="" id="dashboard">
        <div id="dashboard-body">

        </div>
      </div>
      <div id="audio-play-area">
        <!--h4> Play Area </h4-->
      </div>
    </div>
    </section>


    <section class="container col-md-4 col-lg-4 col-sm-4" id="play-wrap">
    <!--div class="user-activity" >
      <div class="row user-activity-item" > 
        Todd suggested tags foo, bar, like for filename
      </div>
      <div class="row user-activity-item"> 
        emareno suggested tags foo, bar for filename
      </div>
      <div class="row user-activity-item"> 
        mike likes filename
      </div>
    </div-->
    </section>

    <!--footer>
    <span> Copyright </span>
    </footer-->


    <!-- Templates -->
    <script type="text/template" id="audio-item-template">
      <div class="audio-feed">
        <div class="row">
          <div class="post-card">

            <div class="post-card-header">
              <div class="profile-image">
                <img src="static/img/person-placeholder.jpg" alt="profile-pic"
                class="img-responsive custom-profile-pic">
              </div>
              <div class="feed-data">
                <strong>uploaded on 
                  <%=uploadDate %> </strong>  
              </div>
            </div>

            <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2
              post-card-body ">
              <div class="audio-file-default" >
                <!-- Simple audio playback -->
                <audio controls="controls" autobuffer="false"  >
                Your browser does not support the <code>audio</code> element.
                <source src=<%= url %> >
                </audio>
              </div>
              <div class="recent-feed-data" data-id="<%= id %>" >
                  <strong class="suggest-tag-title"> Suggested tags: </strong>
                <div class="feed-data">
                  <ul>
                  <% for(var tag in tags) { %>
                    <li><span class="suggest-tag-item"> User added <%=
                      tags[tag] %></span></li>
                    <% } %>
                </ul>
                </div>
              </div>
            </div>

          </div> <!-- end suggested tags container -->

          <!-- social network action, like, share, options -->
          <div class="row">
            <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2
              ">
              <div class="post-card-footer">
                <button type="button"  class="btn btn-default add-tag-button"
                  data-id="<%=id%>" data-placement="top"
                  title="Tag" data-toggle="tooltip"
                  >
                  <span class="glyphicon glyphicon-tags"></span>
                  <span class="feed-data"></span>
                </button>
                <button type="button" class="btn btn-default fav-button"
                  data-toggle="tooltip" data-placement="top"
                  title="Like" data-like="1">
                  <span class="glyphicon glyphicon-chevron-up">
                    <span class="feed-data">1</span>
                    <div id="#hiddendiv"></div>
                  </span>
                </button>
                <button type="button" class="btn btn-default dislike-button"
                  data-toggle="tooltip" data-placement="top"
                  title="Dislike" data-dislike="3" >
                  <span class="glyphicon glyphicon-chevron-down">
                  </span>
                  <span class="feed-data">1</span>
                </button>
                <button type="button" class="btn btn-default
                  share-button" `:w
                  data-toggle=" tooltip" data-placement="top"
                  title="Forward" data-forward="2" >
                  <span class="glyphicon glyphicon-retweet">
                  </span>
                  <span class="feed-data">3</span>
                </button>
                <!--button type="button" class="btn btn-default
                options-button"data-toggle="tooltip" data-placement="top"
                title="Options" >
                <span class="glyphicon glyphicon-option-vertical">
                </span>
                </button-->
              </div>
            </div> <!--end tool-bar -->
        </div></div> <!-- end post card with audio feed data -->
      </div>


    </div> <!-- end audio-feed -->
  </script>
  <script type="text/template" id="play-item-template">
    <div class="audio-feed">
      <div class="row">
        <div class="post-card">

          <div class="post-card-header">
            <div class="profile-image">
              <img src="static/img/person-placeholder.jpg" alt="profile-pic"
              class="img-responsive custom-profile-pic">
            </div>
            <div class="feed-data">
              <strong> Uploaded on <%=uploadDate%> </strong>  
            </div>
          </div>

          <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2
            col-xs-offset-2 post-card-body ">
            <div class="audio-file-default" data-id="<%= id %>">
              <!-- Simple audio playback -->
              <audio controls="controls" autobuffer="true" preload="auto">
              Your browser does not support the <code>audio</code> element.
              <source src=<%=url%>      type="">
              </audio>
            </div>
            <div class="recent-feed-data" >
                <strong>Suggested Tags: </strong>
              <div class="feed-data">
                  <ul>
                  <% for(var tag in tags) { %>
                    <li><span class="suggest-tag-item"> User added <%=
                      tags[tag] %></span></li>
                    <% } %>
                </ul>
              </div>
            </div>
          </div>

        </div> <!-- end suggested tags container -->

        <!-- social network action, like, share, options -->
        <div class="row">
          <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2
            ">
            <div class="post-card-footer">
              <button type="button"  class="btn btn-default add-tag-button"
                data-id="<%=id%>" data-placement="top"
                title="Tag" data-toggle="tooltip"
                >
                <span class="glyphicon glyphicon-tags"></span>
                <span class="feed-data"></span>
              </button>
              <button type="button" class="btn btn-default fav-button"
                data-toggle="tooltip" data-placement="top"
                title="Like" >
                <span class="glyphicon glyphicon-chevron-up">
                  <span class="feed-data">1</span>
                  <div id="#hiddendiv"></div>
                </span>
              </button>
              <button type="button" class="btn btn-default fav-button"
                data-toggle="tooltip" data-placement="top"
                title="Dislike" >
                <span class="glyphicon glyphicon-chevron-down">
                </span>
                <span class="feed-data">1</span>
              </button>
              <button type="button" class="btn btn-default
                share-button"data-toggle="tooltip" data-placement="top"
                title="Forward" >
                <span class="glyphicon glyphicon-retweet">
                </span>
                <span class="feed-data">3</span>
              </button>
              <!--button type="button" class="btn btn-default
              options-button"data-toggle="tooltip" data-placement="top"
              title="Options" >
              <span class="glyphicon glyphicon-option-vertical">
              </span>
              </button-->
            </div>
          </div> <!--end tool-bar -->
      </div></div> <!-- end post card with audio feed data -->
    </div>
  </div> <!-- end audio-feed -->
  <div class="row tag-editor">
      <div class="form-group">
        <input type="text" data-role="tagsinput" class="form-control" id="add-tag" placeholder="Add Tags">
        <button type="button" class="btn" id="submit-form"> Submit </button>
      </div>
      <div class="clearfix"></div>
  </div>
  <!--div class="user-activity" >
    <div class="row user-activity-item" > 
      Todd suggested tags foo, bar, like for filename
    </div>
    <div class="row user-activity-item"> 
      emareno suggested tags foo, bar for filename
    </div>
    <div class="row user-activity-item"> 
      mike likes filename
    </div-->
  </div>
</script>
<script type="text/template" id="search-results-template">
  <div class="audio-feed">
    <div class="row">
      <div class="post-card">

        <div class="post-card-header">
          <div class="profile-image">
            <img src="static/img/person-placeholder.jpg" alt="profile-pic"
            class="img-responsive custom-profile-pic">
          </div>
          <div class="feed-data">
            <strong> Uploaded on <%=uploadDate %> </strong>  
          </div>
        </div>

        <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2
          col-xs-offset-2 post-card-body ">
          <div class="audio-file-default" >
            <!-- Simple audio playback -->
            <audio controls="controls">
            Your browser does not support the <code>audio</code> element.
            <source src=<%=url%>      type="audio/wav">
            </audio>
          </div>
          <div class="recent-feed-data" data-id="<%= id %>">
            <strong>Suggested Tags: </strong>
            <div class="feed-data">
              <ul>
                <% for(var tag in tags) { %>
                  <li><span class="suggest-tag-item"> User added <%=
                    tags[tag] %></span></li>
                  <% } %>
              </ul>
            </div>
          </div>
        </div>

      </div> <!-- end suggested tags container -->
    </script>
  <script src="static/js/jquery.min.js"></script> <!-- jquery version
  1.11.3-->
  <script src="static/js/underscore-min.js"> </script>
  <script src="static/js/backbone-min.js"> </script>
  <script src="static/js/bootstrap.js"> </script>
  <script src="static/js/bootstrap-tagsinput.min.js"> </script>
  <script src="static/js/jqcloud.js"> </script> <!-- for tag cloud
  visualization -->
  <script src="static/js/BootSideMenu.js"> </script> <!-- bootstrap+jquery
  plugin for side menu-->
  <script src="static/js/theme.js"> </script>
</body>
</html>
